{% extends 'base.html' %}
{% block title %}create{% endblock title %}
{% block body %}
  <div class="container">
    <h1 class="text-center my-3">create</h1>
    <hr>
    <form action="{% url 'posts:create' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="등록" class="btn btn-outline-primary">
      <a href="{% url 'posts:index' %}" class="btn btn-outline-secondary mx-5">뒤로가기</a>
    </form>
   
  </div>
{% endblock body %}
