{% extends 'base.html' %}
{% load static %}
{% block title %}detail{% endblock title %}
{% block body %}
  <div class="container">
    <h1 class="text-center my-3">{{post.title}}</h1>
    <hr>
    <div class="d-flex justify-content-around ">
      <!-- card1 -->
      <div class="card mx-2" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">{{ post.select1_content }}</h5>
          <form action="{% url 'posts:answer' post.pk 1 %}" method="post">
            {% csrf_token %}
            <p>투표수:
              {{post.select1_users.all|length}}</p>
            <input type="submit" value="{{ post.select1_content }}" class="btn btn-outline-primary">
          </form>
          <hr>
          {% if post.image1 %}
            <img src="{{ post.image1_thumbnail.url }}" class="card-img-top" alt="image1">
          {% else %}
            <img src="{% static 'posts/noimg.gif' %}" alt="no image">
          {% endif %}
        </div>
      </div>
      <!-- card2 -->
      <div class="card mx-2" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">{{ post.select2_content }}</h5>
          <form action="{% url 'posts:answer' post.pk 2 %}" method="post">
            {% csrf_token %}
            <p>투표수:
              {{post.select2_users.all|length}}</p>
            <input type="submit" value="{{ post.select2_content}}" class="btn btn-outline-danger">
          </form>
          <hr>
          {% if post.image1 %}
            <img src="{{ post.image2_thumbnail.url }}" class="card-img-top" alt="image2">
          {% else %}
            <img src="{% static 'posts/noimg.gif' %}" alt="no image">
          {% endif %}

        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
      <a href="{% url 'posts:index' %}" class="btn btn-outline-secondary">뒤로가기</a>
    </div>
  </div>

{% endblock body %}
